@model PainKillerWeb.Models.Main.Raza

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Raza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idAtributoRelevante" class="control-label"></label>
                <select asp-for="idAtributoRelevante" class="form-control" asp-items="ViewBag.atributoId"></select>
                @*<input asp-for="idAtributoRelevante" class="form-control" />*@
                <span asp-validation-for="idAtributoRelevante" class="text-danger"></span>
            </div>
            <div class="form-group">

                @*hay alguna forma de dejar un espacio vacio en este campo?*@

                <label asp-for="idAtributoRelevante2" class="control-label"></label>
                <select asp-for="idAtributoRelevante2" class="form-control" asp-items="ViewBag.atributoId"></select>
                @*<input asp-for="idAtributoRelevante2" class="form-control" />*@
                <span asp-validation-for="idAtributoRelevante2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idAtributoPesimo" class="control-label"></label>
                <select asp-for="idAtributoPesimo" class="form-control" asp-items="ViewBag.atributoId"></select>
                @*<input asp-for="idAtributoPesimo" class="form-control" />*@
                <span asp-validation-for="idAtributoPesimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
