@model PainKillerWeb.Models.Main.Personaje

@{
    ViewData["Title"] = "Edicion";
}

<h2 class="goingMedievalG">Edicion de Personaje</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger" onsubmit=false></div>

            <div class="form-floating mb-3">
                <input asp-for="nombre" class="form-control" placeholder=1 id="nombre" />
                <label asp-for="nombre"></label>
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="razaId" class="form-select" aria-label="Floating label select example" asp-items="ViewBag.razaId"></select>
                <label asp-for="razaId" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="expActual" class="form-control" placeholder=1 />
                <label asp-for="expActual"></label>
                <span asp-validation-for="expActual" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="expGastada" />
                <input type="hidden" asp-for="vidaMax" />
                <input type="hidden" asp-for="energiaMax" />
                <input type="hidden" asp-for="manaMax" />
                <input type="hidden" asp-for="vidaAct" />
                <input type="hidden" asp-for="energiaAct" />
                <input type="hidden" asp-for="manaAct" />

            </div>

            <div class="form-group">
                <input type="submit" value="Editar Personaje" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.id" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
