@model PainKillerWeb.Models.Main.Personaje

@{
    ViewData["Title"] = "Edit";
}

<h2 class="goingMedievalG">Edicion de Personaje</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razaId" class="control-label"></label>
                <select asp-for="razaId" class="form-control" asp-items="ViewBag.razaId"></select>
                <span asp-validation-for="razaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expActual" class="control-label"></label>
                <input asp-for="expActual" class="form-control" />
                <span asp-validation-for="expActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expGastada" class="control-label"></label>
                <input asp-for="expGastada" class="form-control" />
                <span asp-validation-for="expGastada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vidaMax" class="control-label"></label>
                <input asp-for="vidaMax" class="form-control" />
                <span asp-validation-for="vidaMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manaMax" class="control-label"></label>
                <input asp-for="manaMax" class="form-control" />
                <span asp-validation-for="manaMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="energiaMax" class="control-label"></label>
                <input asp-for="energiaMax" class="form-control" />
                <span asp-validation-for="energiaMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
