@model PainKillerWeb.Models.Pivot.AtributoDePersonaje

@{
    ViewData["Title"] = "Create";
}

<h1>Crear todos los Atributos del Personaje</h1>

<h4>AtributoDePersonaje</h4>
<hr />
<div class="col-md-4">
    <form asp-action="CreateAll">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>
            @{int i = 0;}
            @foreach (var item in ViewBag.atributos)
            {
                <div class="form-group">
                    <input type="hidden" asp-for="personajeId" name="[@i].personajeId" value=@ViewData["personajeId"] />
                    <input type="hidden" asp-for="atributoId" name="[@i].atributoId" value=@item.id />
          
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="nivel" name="[@i].nivel" class="form-control" placeholder=1 />
                    <label asp-for="nivel">@item.nombre</label>
                </div>
                <span class="invisible">
                    @(i++)
                </span>
            }
        </div>


        <div class="form-group">
            <input type="submit" value="Crear Atributos" class="btn btn-dark" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
