@model PainKillerWeb.Models.Pivot.AtributoDePersonaje

@{
    ViewData["Title"] = "Edit";
}

<h1>EditAll</h1>

<h4>AtributoDePersonaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAll">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                @{int i = 0;}
                @foreach (var item in ViewBag.atributos)
                {
                    <div class="form-group">
                        <input type="hidden" asp-for="id" name="[@i].id" value=@item.id />
                        <input type="hidden" asp-for="personajeId" name="[@i].personajeId" value=@ViewData["personajeId"] />
                        <input type="hidden" asp-for="atributoId" name="[@i].atributoId" value=@item.atributoId />
                    </div>

                    <div class="form-floating mb-3">

                        <input asp-for="nivel" name="[@i].nivel" class="form-control" value="@item.nivel" placeholder=1 />
                        <label asp-for="nivel">@item.atributo.nombre</label>
                    </div>
                    <span asp-validation-for="nivel" class="text-danger"></span>
                    <span class="invisible">
                        @(i++)
                    </span>
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Editar Atributos" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Personajes" asp-action="Details" asp-route-id="@ViewData["personajeId"]" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
