@model PainKillerWeb.Models.Pivot.ItemDePersonaje

@{
    ViewData["Title"] = "Edicion de Item";
}

<h1>Edicion de Item</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group" hidden>
                <label asp-for="personajeId" class="control-label"></label>
                <select asp-for="personajeId" class="form-control" asp-items="ViewBag.personajeId"></select>
                <span asp-validation-for="personajeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemId" class="control-label"></label>
                <select asp-for="itemId" class="form-control" asp-items="ViewBag.itemId"></select>
                <span asp-validation-for="itemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Personajes" asp-route-id="@Model.Personaje.id" class="btn btn-outline-danger mt-2 btn-sm">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
