@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Developers";
}

<div class="row">
    <div class="col-8 align-self-center">
        <h1 class="d-flex justify-content-center" id="textoDevelopers">Developers</h1>
    </div>
    <div class="col-4 row ">
        <div class="col-12">
            <div class="card" style="width: 15rem; margin-bottom:10px">
                <img src="https://avatars.githubusercontent.com/u/113955426?s=400&u=64d93cdc1703aa9ae4f04e590d6d6fa868d10187&v=4" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Juan Ignacio Varela</h5>
                    <i class="bi bi-github"></i> <a href="https://github.com/Igna-99" class="">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card" style="width: 15rem;">
                <img src="https://avatars.githubusercontent.com/u/70211400?v=4" class="" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Facundo Ezequiel Martinez</h5>
                    <i class="bi bi-github"></i> <a href="https://github.com/Facunchos" class="">GitHub</a>
                </div>
            </div>
        </div>

    </div>

</div>

